<!-- Login Form -->
<div class="container col-lg-6 col-md-4 p-4">
    <div class="card p-2">
        <h4 class="card-title text-center">Login</h4>
        <form>
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Email address *</label>
                <input type="email" class="form-control" id="txtEmail" required>
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label">Password *</label>
                <input type="password" class="form-control" id="txtPassword" required>
            </div>
        </form>

        <div class="text-center">
            <button id="btnLogin" type="submit" class="btn btn-primary">Login</button>
        </div>

        <div class="text-center mt-2">
            <a href="#password-recover" class="text-light small">Forgot your password?</a>
        </div>

    </div>
</div>
