<!-- Register Form -->
<div class="container col-lg-6 col-md-6 p-4">
    <div class="card p-2">
        <h4 class="card-title text-center">Register</h4>
        <form>
            <div class="mb-3">
                <label for="txtName" class="form-label">Full Name *</label>
                <input type="text" class="form-control" id="txtName" required>
            </div>
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Email address *</label>
                <input type="email" class="form-control" id="txtEmail" required>
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label">Password *</label>
                <input type="password" class="form-control" id="txtPassword" required>
            </div>
            <div class="mb-3">
                <label for="selRole" class="form-label">Register as:</label>
                <select class="form-select" id="selRole" required>
                    <option value="" disabled selected>Select One</option>
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                </select>
            </div>

            <div id="studentField"" class="mb-3 d-none">
                <div class="mb-3">
                    <label>Phone Number</label>
                    <input type="txt" class="form-control" id="numPhone"></input>
                </div>
                <div class="mb-3">
                    <label>Discord Username</label>
                    <input type="txt" class="form-control" id="txtDiscordUser"></input>
                </div>
            </div>
            <div class="text-center">
                <button id="btnRegister" type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
